# Exclude user-specific IntelliJ IDEA settings
settings/colors/_@user_*.icls

# Exclude unnecessary settings
settings/options/mac/
settings/options/*.xml

# Exclude installed plugins list
settings/installed.txt
/.idea/
/server/.netlify/
