@import "tailwindcss";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/700.css";

@import '@fontsource/nunito/400.css';
@import '@fontsource/inter/400.css';

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
    --color-header: #2C3E50;
    --color-button: #1ABC9C;
    --color-text: #34495E;
    --color-bg: #ECF0F1;
}

:root {
    --color-header: #607D8B; /* Cool Gray (lighter, modern header) */
    --color-button: var(--color-green-600); /* Electric Blue (primary CTA buttons) */
    --color-button-hover: var(--color-green-700);; /* Darker Electric Blue for hover */
    --color-text: #222831; /* Off-black (main body text) */
    --color-bg: #F9FAFB; /* Soft White (page background) */
    --color-accent: #FF6F61; /* Coral (highlights, promotions) */
    --color-accent-lime: #A3D900; /* Lime Green (alternative accents) */
    --color-accent-amber: #FFC107; /* Bright Amber (alerts, urgency) */
    --color-link: #FF6F61;
}

:root {
    --color-header: #FF6F61; /* Cool Gray (lighter, modern header) */
    --color-button: #20C997; /* Electric Blue (primary CTA buttons) */
    --color-button-hover: var(--color-green-400);; /* Darker Electric Blue for hover */
    --color-text: #222831; /* Off-black (main body text) */
    --color-bg: #F9FAFB; /* Soft White (page background) */
    --color-accent: #FF6F61; /* Coral (highlights, promotions) */
    --color-accent-lime: #A3D900; /* Lime Green (alternative accents) */
    --color-accent-amber: #FFC107; /* Bright Amber (alerts, urgency) */
    --color-link: #FF6F61;
}




html {
    font-family: Nunito , Inter, sans-serif;
}

@layer utilities {
    .focus-ring-hover {
        @apply rounded hover:cursor-pointer hover:focus:outline-none hover:ring-2 hover:ring-black hover:ring-offset-2
    }

    .focus-ring-active {
        @apply rounded hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}


